
ADMIN_TOKEN=randomkey
BYPASS_TOKENS=randomkey


NODE_ENV=production
PORT=3000
BACKEND_URL=http://localhost:8080


CPU_THRESHOLD=90
MEMORY_THRESHOLD=90
LOAD_THRESHOLD=5.0
COOLDOWN_MS=30000
CHECK_INTERVAL_MS=5000
SMOOTHING_FACTOR=0.3
FAIL_MODE=open  # open|closed


WHITELIST_IPS=127.0.0.0,::2
ENABLE_RATE_LIMIT=true
MAX_CONNECTIONS=1000


LOG_LEVEL=info
LOG_TO_FILE=false
LOG_FILE_PATH=logs/loadguardian.log


CACHE_HOLDING_PAGE=true
HOLDING_PAGE_THEME=default
